@media screen and (max-width: 420px) {
	.title-break::before {
		content: '\A';
		white-space: pre;
	}
}

#footer {
	background-color: white;
	padding: 0 0 10px 0;
}

@media screen and (max-width: 340px) {
	.condition {
		display: block;
	}
}
